.container {
  // background: red;
  width: 90%;
  // background: red;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin: 15px 0;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      h3 {
        margin-right: 50px;
      }
      button {
        margin: 0 10px;
        border-radius: 25px;
        color: white;
        &:focus {
          background-color: #2d60e4;
        }
      }
      .top,
      .popular,
      .mostSold {
        width: 125px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #484848;
        transition: all 250ms;
        &:hover {
          background-color: #2d60e4;
          border: none;
        }
      }
    }
    .categories {
      display: flex;
      flex-direction: row;
      color: #ffffff;
      // text-decoration: underline;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      transition: all 200ms;
      a {
        color: #ffff;
        margin-right: 5px;
        transition: all 750ms;
      }
      img {
        width: 15px;

      }
      &:hover {
        transform: translateX(-10px);
        a {
          color: #2D60E4;
        }
      }
    }
  }
  .cards {
    // width: 75vw;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 1110px) {
  .title {
    font-size: 20px !important;
    h3 {
      margin-right: 10px !important;
    }
    .top,
    .popular,
    .mostSold {
      width: 100px !important;
      font-size: 12px !important;
    }
  }
}
@media (max-width: 927px) {
  .title {
    font-size: 15px !important;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 15px !important;
    justify-content: center !important;
    gap: 30vw;
    h3 {
      margin-right: 0 !important;
    }
  }
}
@media (max-width: 550px) {
  .left {
    h3 {
      font-size: 25px;
    }
    .top,
    .popular,
    .mostSold {
      display: none !important;
    }
  }
  .categories {
    a {
      // font-size: 12px;
    }
  }
}
