.container{
    width: calc(100% - 240px);
    position: absolute;
    left:240px;
    top:0;
    background-color: #212123;
    .input_container{
        width: 45vw;
        max-width:600px;
        min-width: 250px;
        margin: 30px;
        display: flex;
        justify-content: space-between;
        background-color: #363638;
        height: 40px;
        align-items: center;
        border-radius: 20px;
        div{
            padding-left:15px;
            display: flex;
            justify-content: center;
            .input{
                max-width:340px;
                min-width:140px;
                background-color: transparent;
                border: none;
                outline: none;
                color: #fff;
                margin-left:5px;
            }
        }
        .categories{
            color: white;
            font-size: 14px;
            margin-left:15px;
            background-color: #363638;
            margin-right:55px;
        }
    }
}