.container{
    background: rgb(115, 4, 163);
    width: 90% !important;
    margin: 0 auto !important;
    height: 100%;
    .title{
        text-align: center;
        padding: 15px 0;
    }
}
.slider{
    height: 100vh !important;
}