.container {
  width: 100%;
  height: 100%;
  // background-color: red;
  display: flex;
  flex-direction: row;
  //   background-color: peru;
  .filterContainer {
    justify-content: space-around;
    color: white;
    width: 20%;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    .filterBy {
      background-color: #191919;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-family: Poppins, sans-serif;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin: 25px 0;
    }
    .filter {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: white;
        text-align: left;
        margin: 5px 50px;
        transition: all 250ms;
        &:hover{
            color: #808080;
        }
      }
    }
    .pricing {
      margin-bottom: 20px;
      width: 85%;
    //   background-color: red;
      display: flex;
      flex-direction: column;
      text-align: center;
      .inputContainer {
        display: flex;
        flex-direction: row;
        p {
          font-size: 20px;
        }
        input {
          width: 40%;
          margin: 0 auto;
          background-color: transparent;
          border: 1px solid #b6b6b6;
          border-radius: 5px;
          color: white;
          text-align: center;
          &::placeholder {
            color: white;
            text-align: center;
          }
        }
      }
      .range {
        margin: 15px 0 0 0;
        height: 6px;
      }
    }
    // background-color: orange;
  }
  .productsContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    // background-color: darkorange;
    .productTitle{
      height: 60px;
      // background-color: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      h2{
        font-size: 40px;
        font-family: Roboto, sans-serif;
        margin-right: 50px;
        font-weight: 800;
      }
      button{
        cursor: pointer;
        height: 60px;
        border: none;
        background: none;
        margin: 0 15px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        transition: all 250ms;
        &:hover{
          color: #2D60E4;
        }
        &:focus{
          color: #2D60E4;
          border-top: 3px solid #2D60E4;
        }
      }
    }
    .cardsContainer{
      width: 100%;
      // background-color: red;
      border-radius: 10px;
      height: 85%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0;
      // justify-content: center;
      align-items: center;
    }
    .pagination{
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      justify-content: center;
      a{
        cursor: pointer;
        text-decoration: none;
        margin: 0 10px;
        // background-color: red;
        width: 20px;
        text-align: center;
        transform: all 250ms;
        &:hover{
          color: #2D60E4;
        }

      }
    }
  }
}
